@charset "utf-8";
/* CSS Document */
* {
	margin:0px;
	padding:0px;
	list-style:none;
	color:#555657;
	font-size:14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
nav,article,hgroup,header,footer {
	display:block;
	content:"";
}


/*---------------------------------
              link
---------------------------------*/
a {
	text-decoration:none;
}
a:link {
	color:#1122CC;
}
a:visited {
	color:#1122CC;
}
a:hover {
	color:#e9972e;
}
a img{
	border:0px;
}
a:hover img{
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
	background: #fff;
}


/*---------------------------------
              clearfix
---------------------------------*/
.clearfix:after {
	content: ".";  /* 新しい要素を作る */
	display: block;  /* ブロックレベル要素に */
	clear: both;
	height: 0;
	visibility: hidden;
	line-height:0px;
}
.clearfix {
	min-height: 1px;
}

* html .clearfix {
	height: 1px;
}

body {
	background:url(../images/back_img.png) top repeat-x;
	background-color:#EDF7F8;
}
#container_all {
	width:1000px;
	margin:0 auto;
	padding:0 10px;
}

.box {
	background:#FFF;
	border:#C2DAE4 1px solid;
	padding:15px;
	margin-bottom:15px;
	border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;   /* Firefox用 */
}
.container {
	padding:10px;
}
.container > ul {
	padding:10px;
	padding-top:0px;
	margin-bottom:20px;
}
h2 {
	font-size:17px;
}
h3 {
	color:#0B94D3;
}
.even {
	background:#F0F7FF;
}
table {
	border-bottom:#CCC 1px solid;
	border-left:#CCC 1px solid;
}
table tbody th,
table thead  th {
	background:url(../images/title_back1.png) bottom repeat-x;
	font-size:10px !important;
}
table tbody th,table tbody td,
table thead  th {
	border-top:#CCC 1px solid;
	border-right:#CCC 1px solid;
	padding:5px;
}
table tbody td {
	font-size:13px;
}
table tbody td a {
	font-size:12px;
}
/*---------------------------------
              header
---------------------------------*/
#header {
	padding-top:20px;
	margin-bottom:15px;
}
#header h1 {
	width:453px;
	height:48px;
	float:left;
}
#header .shop_nemu {
	font-weight:400;
	color:#FFF;
	font-size:13px;
	width: 335px;
	float:right;
	padding-top:30px;
}
#header .shop_nemu input {
	border:0px;
	padding:3px 8px;
	border-radius: 10px;        /* CSS3草案 */
        -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
        -moz-border-radius: 10px;   /* Firefox用 */
	color:#0091d2 !important;
}

#header .shop_nemu select {
	border:0px;
	padding:3px 8px;
	border-radius: 10px;        /* CSS3草案 */
        -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
        -moz-border-radius: 10px;   /* Firefox用 */
	color:#0091d2 !important;
        width: 200px;
}

/*---------------------------------
              menu_box
---------------------------------*/
#menu_box li {
	width:93px;
	height:93px;
	float:left;
	margin:0 7px;
}
/*---------------------------------
              news_box
---------------------------------*/
.news_box {
	height:100px;
}
.news_box .text_box {
	background:url(../images/news.gif) left no-repeat;
}
.news_box .text_box ul {
	margin-left:95px;
	border-left:#C2DAE4 1px solid;
	padding-left:15px;
	height:100px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.news_box .text_box ul .time {
	background:#EDF7F8;
	color:#0091d2 !important;
	font-size:10px;
	padding:3px;
	width:60px;
	float:left;
	text-align:center;
	border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;   /* Firefox用 */
}
.news_box .text_box ul .text {
	margin-left:80px;
	font-size:14px;
}
.news_box .text_box ul li {
	margin-bottom:10px;
}

/*---------------------------------
              digit_box
---------------------------------*/
.digit_box {
	height:70px;
	float:left;
}
#sns_digit {
	width: 187px;
	text-align:center;
}
.center {
	margin:0 15px;
}
#nwes_digit {
	width:500px;
}
#nwes_digit .nwes_digit_l {
	width:190px;
	float:left;
	text-align:center;
}
#nwes_digit .nwes_digit_r {
	width:300px;
	float:right;
	font-size:12px;
}
#nwes_digit .nwes_digit_r li {
	border-bottom:#C2DAE4 1px solid;
	padding:5px;
}
#nwes_digit .nwes_digit_r .time {
	width:60px;
	float:left;
}
#nwes_digit .nwes_digit_r .text {
	width:230px;
	float:left;
}
.digit,
.digit #search_data {
	font-size:36px;
	margin-top:5px;
	font-weight:bold;
}
.digit1 {
	color:#A9DE6C;
}
.digit2 {
	color:#1788CC;
}
.digit3 {
	color:#9BD0F4;
}
.digit strong {
	font-size:14px;
	color:#8C8D8E;
}

.f_box h3 {
	background:url(../images/title_back.png) bottom repeat-x;
	border:1px solid #b9dff7;
	padding:3px 15px;
	border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
	margin-bottom:10px;
	font-weight:500;
	font-size:12px;
}
.f_box ul {
	padding:0 10px;
}
.container1 ul li {
	width:200px;
	padding:0 10px;
	float:left;
	margin-bottom:8px;
}
.container2,.container1 {
	margin-bottom:20px;
}
.container2 ul li {
	padding:5px 10px;
}
.container2 ul li .titel {
	width:130px;
	float:left;
	font-weight:bold;
	 font-size:12px;
}
.container2 ul li .text {
	margin-left:140px;
}

.f_digit {
	text-align:center;
	padding:15px 0px;
	border:#0092D6 3px solid;
	margin: 20px 140px;
	border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;   /* Firefox用 */
}
.f_digit .titel {
	font-weight:bold;
}
.f_digit .digit ,
.f_digit .digit #search_data{
	color:#0091D9;
}
.f_text1 {
	width:566px;
	padding:0px;
	font-size:18px;
	border:#CCC 1px solid;
	border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
}
.f_text2 {
	width:566px;
	height:300px;
	padding:0px;
	border:#CCC 1px solid;
	border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
}
.btn {
	text-align:center;
}
.btn input {
	text-align:center;
	width:150px;
	background:#0092D6;
	padding:5px 0px;
	border:0px;
	border-radius: 15px;        /* CSS3草案 */
    -webkit-border-radius: 15px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 15px;   /* Firefox用 */
	font-weight:bold;
	color:#FFF;
	margin:0px 10px;
}
.btn input:hover {
	background:#7CC4F5;
}
.log_box {
	overflow-y: scroll;
	overflow-x: hidden;
	height:500px;
}
.log_box li {
	padding:3px 10px;
}
.log_box li.even {
	background:#F0F0F0;
}

.m_menu li {
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
border:#CCC 1px solid;
	border-radius: 15px;        /* CSS3草案 */
    -webkit-border-radius: 15px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 15px;   /* Firefox用 */
	font-size:12px;
	margin-top:10px !important;
	width:90px !important;
	height:90px !important;
	text-align:center;
}
.m_menu li a {
	display:block;
	padding:10px;
	color:#666;
}

/* tableのフッター */
.tablefooter {
  font-weight: bold;
}
.tablefooter_head {
  background-color: #ccccff;
  font-weight: bold;
}

/* validationチェック時のエラーメッセージ */
label.error {
 font-weight: bold; color: #b80000
}

/* トーストの指定 */
.laquu-toast-container {
  -moz-border-radius: 5px;    /* Firefox */
  -webkit-border-radius: 5px; /* Safari,Chrome */
  border-radius: 5px;         /* CSS3 */
  padding:5px;
  text-align: center;

  background-color: #000000;
  filter:alpha(opacity=60);
  -moz-opacity:0.60;
  -khtml-opacity: 0.60;
  opacity:0.60;
}
.laquu-toast-message {
  color:#ffffff;
}

#arrow_box {
  display: none;
  position: absolute;
  padding: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;
  background: #333;
  color: #fff;
  margin-top: 10px;
  margin-left: 30px;
}

#arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 30%;
  width: 0;
  height: 0;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}
