@charset "utf-8";
/* CSS Document */
* {
	margin:0px;
	padding:0px;
	list-style:none;
	color:#555657;
	font-size:14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}


/*---------------------------------
スマートフォンアプリ：店舗情報画面
---------------------------------*/
body {
	background-image:url("./../img_others/background.png");
	background-position: center center;
	background-size: cover;
}

p.resizeimage img {
    width: 100%;
}