@charset "utf-8";
/* CSS Document */
* {
	margin:0px;
	padding:0px;
	list-style:none;
	color:#555657;
	font-size:14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
nav,article,hgroup,header,footer {
	display:block;
	content:"";
}


/*---------------------------------
              link
---------------------------------*/
a {
	text-decoration:none;
}
a:link {
	color:#1122CC;
}
a:visited {
	color:#1122CC;
}
a:hover {
	color:#e9972e;
}
a img{
	border:0px;
}
a:hover img{
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
	background: #fff;
}


/*---------------------------------
              clearfix
---------------------------------*/
.clearfix:after {
	content: ".";  /* 新しい要素を作る */
	display: block;  /* ブロックレベル要素に */
	clear: both;
	height: 0;
	visibility: hidden;
	line-height:0px;
}
.clearfix {
	min-height: 1px;
}

* html .clearfix {
	height: 1px;
}

body {
	background:url(../images/back_img.png) top repeat-x;
	background-color:#EDF7F8;
}
#container_all {
	margin:0 auto;
	padding:0 5px;
}

.box {
	background:#FFF;
	border:#C2DAE4 1px solid;
	padding:10px;
	margin-bottom:15px;
	border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;   /* Firefox用 */
}
.container {
	padding:10px 0px;
}
.container > ul {
	padding:10px;
	padding-top:0px;
	margin-bottom:20px;
}
h2 {
	font-size:17px;
}
h3 {
	color:#0B94D3;
}
.even {
	background:#F0F7FF;
}
table {
	border-bottom:#CCC 1px solid;
	border-left:#CCC 1px solid;
}
table tbody th,
table thead  th  {
	background:url(../images/title_back1.png) bottom repeat-x;
	font-size:10px !important;
}
table tbody th,table tbody td ,
table thead  th {
	border-top:#CCC 1px solid;
	border-right:#CCC 1px solid;
	padding:5px;
}
table tbody td {
	font-size:13px;
}
table tbody td a {
	font-size:10px;
	background:#0092D6;
	padding:3px 10px;
	color:#FFF !important;
	font-weight:bold;
	border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;   /* Firefox用 */
}
table tbody td p {
	margin-bottom:10px;
}
/*---------------------------------
              header
---------------------------------*/
#header {
	padding-top:20px;
	margin-bottom:15px;
}
#header h1 {
}
#header .shop_nemu {
	font-weight:400;
	color:#FFF;
	font-size:13px;
	margin-top:10px;
}
#header .shop_nemu input {
	border:0px;
	padding:3px 8px;
	border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;   /* Firefox用 */
	color:#0091d2 !important;
	width:240px;
	-webkit-appearance: none;
}

/*---------------------------------
              menu_box
---------------------------------*/
#menu_box li {
	width:75px;
	height:75px;
	float:left;
	margin:5px;
}
@media screen and (min-width: 321px) {
	#menu_box li {
	width:70px;
	height:70px;
	float:left;
	margin:5px;
	}
}

.m_menu li {
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
border:#CCC 1px solid;
	border-radius: 15px;        /* CSS3草案 */
    -webkit-border-radius: 15px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 15px;   /* Firefox用 */
	font-size:10px;
	margin-top:10px !important;
	width:70px !important;
	height:70px !important;
	text-align:center;
}
.m_menu li a {
	display:block;
	padding:4px;
	color:#666;
}

/*---------------------------------
              news_box
---------------------------------*/
.news_box {
	height:100px;
}
.news_box .text_box {
	background:url(../images/news.gif) left no-repeat;
	background-size:60px 71px;
	margin-left:10px;
}
.news_box .text_box ul {
	margin-left:85px;
	border-left:#C2DAE4 1px solid;
	padding-left:15px;
	height:100px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.news_box .text_box ul .time {
	background:#EDF7F8;
	color:#0091d2 !important;
	font-size:10px;
	padding:3px 5px;
	border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;   /* Firefox用 */
}
.news_box .text_box ul .text {
	font-size:14px;
}
.news_box .text_box ul li {
	margin-bottom:10px;
}

/*---------------------------------
              digit_box
---------------------------------*/
.digit_box {
}
#sns_digit {
	text-align:center;
}
.center {
	margin:0 15px;
}
#nwes_digit {
}
#nwes_digit .nwes_digit_l {
	text-align:center;
	margin-bottom:10px;
}
#nwes_digit .nwes_digit_r {
	font-size:12px;
}
#nwes_digit .nwes_digit_r li {
	border-top:#C2DAE4 1px solid;
	padding:5px;
}

.digit,
.digit #search_data {
	font-size:36px;
	margin-top:5px;
	font-weight:bold;
}
.digit1 {
	color:#A9DE6C;
}
.digit2 {
	color:#1788CC;
}
.digit3 {
	color:#9BD0F4;
}
.digit strong {
	font-size:14px;
	color:#8C8D8E;
}

.nwes_digit_r .time {
	color:#0B94D3;
}


.f_box h3 {
	background:url(../images/title_back.png) bottom repeat-x;
	border:1px solid #b9dff7;
	padding:3px 15px;
	border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
	margin-bottom:10px;
	font-weight:500;
	font-size:12px;
}
.f_box ul {
	padding:0 10px;
}
.container1 ul li {
	padding:0 10px;
	margin-bottom:8px;
}
.container2,.container1 {
	margin-bottom:20px;
}
.container2 ul li {
	padding:5px 10px;
}
.container2 ul li .titel {
	font-weight:bold;
	font-size:12px;
}
.container2 ul li .text {
	padding:5px;
}

.f_digit {
	text-align:center;
	padding:15px 0px;
	border:#0092D6 3px solid;
	margin-bottom:20px;
	border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;   /* Firefox用 */
}
.f_digit .titel {
	font-weight:bold;
}
.f_digit .digit ,
.f_digit .digit #search_data {
	color:#0091D9;
}
.f_text1 {
	width:100%;
	font-size:18px;
	border:#CCC 1px solid;
	border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
}
.f_text2 {
	width:100%;
	height:300px;
	border:#CCC 1px solid;
	border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
}
.btn {
	text-align:center;
}
.btn input {
	text-align:center;
	width:100px;
	background:#0092D6;
	padding:5px 0px;
	border:0px;
	border-radius: 15px;        /* CSS3草案 */
    -webkit-border-radius: 15px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 15px;   /* Firefox用 */
	font-weight:bold;
	color:#FFF;
	-webkit-appearance: none;
	margin:0px 10px;
}
.btn input:hover {
	background:#7CC4F5;
}
.log_box {
	overflow-y: scroll;
	overflow-x: hidden;
	height:200px;
}
.log_box li {
	padding:3px 10px;
}
.log_box li.even {
	background:#F0F0F0;
}